@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,300,400);
@import url(https://fonts.googleapis.com/css?family=Poppins);

.cleaner{
    clear: both;
}

.null-headline .img {
    background-repeat: no-repeat;
    background-size: 150%;
}

.null-headline {
    background: #ffecd4;
}